{% extends 'flatpages/default.html' %}
<h1 style="text-align: center;"><span style="text-decoration: underline;"><em>Контакты</em></span></h1>
<hr />
<h3 style="text-align: center;"><em><span style="color: #ff0000;">Наши контакты:</span></em></h3>
<p style="text-align: center;">Наши контакты: <em>ksuklulove@mail.ru</em>&nbsp;</p>
<p style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://dora-neco.com/img/L/cat01363.jpg" alt="" width="374" height="280" /></p>